.social-login
    button.social-login--github
        a(href=routes.github)
          span
              i.fab.fa-github
          |Continue with Github
    button.social-login--facebook
        a(href=routes.facebook)
          span
              i.fab.fa-facebook
          |Continue with Facebook


        
//- 첫 글자를 태그로하는게 아니라 그냥 텍스트로 넣고 싶을 떄는 앞에 | 를 붙여주면된다