doctype html
html
    head
        link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.15.2/css/all.css", integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu", crossorigin="anonymous")
        title  #{pageTitle} | #{siteName}
        link(rel="stylesheet", href="/static/main.css")
    body
        include ../partials/header
        main
            block content
        include ../partials/footer
        script(src="/static/main.js")