extends layouts/main.pug
include mixins/videoBlock

block content
    .home-videos
        each video in videos
            +videoBlock({
                id: video.id,
                title: video.title ,
                views: video.views,
                videoFile: video.fileUrl,
            })