.video-detail__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .video__player {
    max-width: 850px;
  }
  .video__info {
    width: 100%;
    max-width: 850px;
    margin-top: 25px;
    button {
      width: 100px;
      margin-bottom: 15px;
      font-size: 16px;
    }
    .video__author {
      a {
        color: #3498db;
        font-weight: 700;
      }
    }
    .video__title,
    .video__views,
    .video__description {
      display: block;
      margin-bottom: 15px;
    }
    .video__title {
      font-size: 22px;
      font-weight: 300;
    }
    .video__views {
      font-size: 14px;
    }
    .video__description {
      font-size: 18px;
    }
  }
  .video__comments {
    margin-top: 25px;
    width: 320px;
    text-align: center;
    .video__comment-number {
      font-size: 16px;
    }
    .add__comment {
      margin-top: 25px;
      width: 100%;
      input {
        width: 100%;
      }
    }
    .video__comments-list {
      margin-top: 50px;
      max-width: 100%;
      li {
        background-color: #3e97c0;
        color: white;
        padding: 15px 20px;
        border-radius: 25px;
        border-bottom-left-radius: 0;
        text-align: left;
        a {
          color: white;
          display: inline-block;
          font-weight: 500;
          font-size: 16px;
          margin-bottom: 10px;
        }
        span:last-child {
          font-weight: 300;
          font-size: 17px;
        }
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
}
